<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var margin = {top: -5, right: -5, bottom: -5, left: -5},
    width = 1280 - margin.left - margin.right,
    height = 720 - margin.top - margin.bottom;

var zoom = d3.behavior.zoom()
    .center([width / 2, height / 2])
    .scaleExtent([1, 2])
    .on("zoom", zoomed);

var arr = [1, 2, 3, 4];
    
var svg = d3.select("body")
  .append("svg")
   .attr("width", width + margin.left + margin.right)
   .attr("height", height + margin.top + margin.bottom)
   .attr("transform", "translate(" + margin.left + "," + margin.right + ")")
   .style("border", "1px solid black")
   .call(zoom);

var circles = svg.selectAll("image")
  .data(arr)
  .enter()
  .append("image")
  .attr("xlink:href", "https://github.com/favicon.ico")
  .attr("x", function(d) {
  return d*250;
})
  .attr("y", 150)
  .attr("width", 50)
  .attr("height", 50);
  
circles
.on("click", function(d) {
    cor=d3.mouse(this);
    x=width / 2 - cor[0];
    y=height / 2 - cor[1];
    circles
      .transition()
      .duration(750)
      .attr("transform", "translate(" + x + "," + y + ")");
});

function zoomed() {
  circles.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

</script>
